{% extends "layout.html" %}


{% block include %}
<link rel="stylesheet" href="../static/css/login.css">
{% endblock %}

{% block content %}

<div class="container">
    <center>
        <h1>Demander</h1>
        <br/>
        <div id="formContent">
            <form>
                <input type="text" id="nom" name="nom" placeholder="Nom">
                <input type="text" id="adresse" name="adresse" placeholder="Adresse">
                <input type="text" id="phone" name="phone" placeholder="Phone">
                <input type="text" id="email" name="email" placeholder="E-Mail">
                <input type="submit" class="fadeIn" value="Demander">
            </form>
        </div>
    </center>
</div>

{% endblock %}